In [1]:
a = 5.0
b = 'ola'
c = 5 + 6
print(f'a = {a}')
print(f'b = {b}')
print(f'c = {c}')

a = 5.0
b = ola
c = 11

In [3]:
minha_lista = ['Craig', 'John', 'Chris']
print(minha_lista)
minha_lista = ['Craig', 5.0, True, 67]
print(minha_lista)

['Craig', 'John', 'Chris']
['Craig', 5.0, True, 67]

In [4]:
minha_lista = [1,2,3]*3
print(minha_lista)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [5]:
minha_lista = [1,2,3] + [99,100,101]
print(minha_lista)

[1, 2, 3, 99, 100, 101]

In [6]:
minha_lista = ['Craig', 'John', 'Chris']
print(minha_lista[0])

Craig

In [2]:
#print(minha_lista[4])

In [9]:
lista1 = ['Craig', 'John', 'Chris']
lista2 = lista1
print(f'Lista1 = {lista1}')
print(f'Lista2 = {lista1}')
lista2[1] = 60
print(f'Lista1 = {lista1}')
print(f'Lista2 = {lista1}')

Lista1 = ['Craig', 'John', 'Chris']
Lista2 = ['Craig', 'John', 'Chris']
Lista1 = ['Craig', 60, 'Chris']
Lista2 = ['Craig', 60, 'Chris']

In [10]:
lista1 = [1,2,3]
lista2 = lista1[:]
lista2[0] = 60
print(lista1) # 1 2 3
print(lista2)

[1, 2, 3]
[60, 2, 3]

## Copia rasa

In [12]:
list1 = [[10,20], 40, ['segunda', 'terca']]
list2 = list1.copy()
list1[2].append('quarta')
print(f'List1: {list1}')
print(f'List2: {list2}')

List1: [[10, 20], 40, ['segunda', 'terca', 'quarta']]
List2: [[10, 20], 40, ['segunda', 'terca', 'quarta']]

In [13]:
list1[1] = 1000
print(f'List1: {list1}')
print(f'List2: {list2}')

List1: [[10, 20], 1000, ['segunda', 'terca', 'quarta']]
List2: [[10, 20], 40, ['segunda', 'terca', 'quarta']]

## Copia profunda

In [14]:
from copy import deepcopy
list1 = [[10,20], 40, ['segunda', 'terca']]
list3 = deepcopy(list1)
list1[2].append('quinta')
print(f'List1: {list1}')
print(f'List3: {list3}')

List1: [[10, 20], 40, ['segunda', 'terca', 'quinta']]
List3: [[10, 20], 40, ['segunda', 'terca']]

## Switch

In [22]:
def numero_to_cadeia(dia):
    match dia:
        case 0:
            return "zero"
        case 1:
            return "one"
        case 2:
            return "two"

In [23]:
numero_to_cadeia(1)

'one'

In [24]:
def numbers_to_strings(argument):
    switcher = {
    0: "zero",
    1: "one",
    2: "two",
    }

    return switcher.get(argument, "nothing")

In [25]:
numbers_to_strings(1)

'one'

## For

In [28]:
for i in [0, 'a', 2, 5, 1]:
    print(i)
    #print(i, end=' ')

0
a
2
5
1

In [32]:
lista = [10,20,30,40,50]
for elem in lista:
    print(elem, end=' ')
print()

for pos, elem in enumerate(lista):
    print(lista[pos], end = " ")

print()
n = len(lista)
for i in range(n):
    print(lista[i], end = " ")

10 20 30 40 50
10 20 30 40 50
10 20 30 40 50

## List comprenhension

In [34]:
lista = [1,2,3,4,5,6]
lista2 = [elem/2 for elem in lista]
print(lista2) # [0.5, 1.0, 1.5, 2.0, 2.5, 3.0]
lista3 = [elem/2 for elem in lista if elem%2 ==0]
print(lista3) # [1.0, 2.0, 3.0]
lista4 = [elem/2 if elem % 2 == 0 else elem for elem in lista]
print(lista4) # [1, 1.0, 3, 2.0, 5, 3.0]

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0]
[1.0, 2.0, 3.0]
[1, 1.0, 3, 2.0, 5, 3.0]

## Dicion√°rios

In [38]:
marks = {'Maths':45, 'Science':23, 'Social':38}
print(marks)
print(marks['Science'])
marks['Chemistry'] = 50
print(marks)

{'Maths': 45, 'Science': 23, 'Social': 38}
23
{'Maths': 45, 'Science': 23, 'Social': 38, 'Chemistry': 50}

In [39]:
for subject in marks:
    print(subject)

Maths
Science
Social
Chemistry

In [40]:
for key, value in marks.items():
    print(key, ":", value)

Maths : 45
Science : 23
Social : 38
Chemistry : 50